In [1]:
#create set
set = {"apple", "banana", "cherry"}
print(set)

{'cherry', 'apple', 'banana'}

In [2]:
#Duplicate values will be ignored
set = {"apple", "banana", "cherry", "apple"}
print(set)

{'cherry', 'apple', 'banana'}

Access Items

In [21]:
#Loop through the set, and print the values
set = {"apple", "banana", "cherry"}
for x in set:
  print(x)

cherry
apple
banana

In [20]:
#Check if "banana" is present in the set
set = {"apple", "banana", "cherry"}
print("banana" in set)

True

In [19]:
#Check if "banana" is NOT present in the set
set = {"apple", "banana", "cherry"}
print("banana" not in set)

False

Add Set Items

In [18]:
#Add an item to a set, using the add() method
set = {"apple", "banana", "cherry"}
set.add("orange")
print(set)

{'cherry', 'apple', 'banana', 'orange'}

In [17]:
#Add elements from tropical into set
set = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
set.update(tropical)
print(set)

{'papaya', 'banana', 'cherry', 'apple', 'mango', 'pineapple'}

In [16]:
#Add elements of a list to at set
set = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
set.update(mylist)
print(set)

{'kiwi', 'orange', 'banana', 'cherry', 'apple'}

Remove Set Items

In [15]:
#Remove "banana" by using the remove() method
set = {"apple", "banana", "cherry"}
set.remove("banana")
print(set)

{'cherry', 'apple'}

In [14]:
#Remove "banana" by using the discard() method
set = {"apple", "banana", "cherry"}
set.discard("banana")
print(set)

{'cherry', 'apple'}

In [13]:
#Remove a random item by using the pop() method
set = {"apple", "banana", "cherry"}
x = set.pop()
print(x)
print(set)

cherry
{'apple', 'banana'}

In [12]:
#The clear() method empties the set
set = {"apple", "banana", "cherry"}
set.clear()
print(set)

set()

In [22]:
#The del keyword will delete the set completely
set = {"apple", "banana", "cherry"}
del set
print(set)

<class 'set'>

Loop Sets

In [23]:
#Loop through the set, and print the values
set = {"apple", "banana", "cherry"}
for x in set:
  print(x)

cherry
apple
banana

Join Sets

In [24]:
#Join set1 and set2 into a new set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'a', 'b', 1, 2, 3, 'c'}

In [25]:
#Use | to join two sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{'a', 'b', 1, 2, 3, 'c'}

In [26]:
#Join multiple sets with the union() method
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'b', 1, 2, 3, 'John', 'Elena', 'bananas', 'c', 'a', 'cherry', 'apple'}

In [27]:
#Use | to join two sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'b', 1, 2, 3, 'John', 'Elena', 'bananas', 'c', 'a', 'cherry', 'apple'}

Join a Set and a Tuple

In [28]:
#Join a set with a tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'b', 1, 2, 3, 'c', 'a'}

In [29]:
#The update() method inserts the items in set2 into set1
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 'b', 1, 2, 3, 'c'}

Intersection

In [30]:
#Join set1 and set2, but keep only the duplicates
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [31]:
#Use & to join two sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [32]:
#Keep the items that exist in both set1, and set2
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}