Tuples

In [1]:
#create a tuple
tuple = ("apple", "banana", "cherry")
print(tuple)

('apple', 'banana', 'cherry')

In [2]:
#tupple length
tuple = ("apple", "banana", "cherry")
print(len(tuple))

3

In [3]:
#Create Tuple With One Item
tuple = ("apple",)
print(type(tuple))

#Not a tuple
tuple = ("apple")
print(type(tuple))

<class 'tuple'>
<class 'str'>

Access Tuple Items

In [5]:
#Print the second item in the tuple
tuple = ("apple", "banana", "cherry")
print(tuple[1])

banana

In [6]:
#Print the last item of the tuple
tuple = ("apple", "banana", "cherry")
print(tuple[-1])

cherry

In [7]:
#Return the third, fourth, and fifth item
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[2:5])

('cherry', 'orange', 'kiwi')

In [8]:
#This example returns the items from the beginning to, but NOT included, "kiwi"
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [9]:
#This example returns the items from "cherry" and to the end
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [10]:
#This example returns the items from index -4 (included) to index -1 (excluded)
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[-4:-1])

('orange', 'kiwi', 'melon')



Unpacking Tuples

In [18]:
#Unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [19]:
#Assign the rest of the values as a list called "red"
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [20]:
#Add a list of values the "tropic" variable
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples

In [21]:
#Iterate through the items and print the values (for loop)
tuple = ("apple", "banana", "cherry")
for x in tuple:
  print(x)

apple
banana
cherry

In [22]:
#Print all items by referring to their index number (for loop)
thituple = ("apple", "banana", "cherry")
for i in range(len(tuple)):
  print(tuple[i])

apple
banana
cherry

In [23]:
#Print all items, using a while loop to go through all the index numbers
tuple = ("apple", "banana", "cherry")
i = 0
while i < len(tuple):
  print(tuple[i])
  i = i + 1

apple
banana
cherry

Join Tuples

In [24]:
#join two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [25]:
#Multiply the fruits tuple by 2
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')